
<body class="text-center">
    <div class="row component">
      <div class="col"></div>
      <div class="col">
          <h1 class="h3 mb-3 font-weight-normal">New Article</h1>
          <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" novalidate style="width: 20vw; margin-left: 6vw;">
              <div *ngFor="let field of formFields" class="form-group" >
                  <label>{{field.label}}</label>
                  <input type="text" name={{field.id}} ngModel class="form-control"  *ngIf="field.type.name=='string' && field.label != 'Password' && field.id != 'pdf'" >
                  <input type="checkbox" name={{field.id}} ngModel class="form-control"  *ngIf="field.type.name=='boolean'">
                  <input type="number" name={{field.id}} ngModel class="form-control"  *ngIf="field.type.name=='long'">
                  <input type="password" name={{field.id}} ngModel class="form-control"  *ngIf="field.label == 'Password'">
                  <button type="button" class="btn btn-lg btn-primary btn-block" (click)="otvoriFileChooer();"  *ngIf="field.id == 'pdf'">File Choose</button>
                  <input disabled class="form-control" *ngIf="field.id == 'pdf' && path" value="{{path.procesID}}">
                  <select name={{field.id}} ngModel *ngIf="field.type.name=='enum'" class="form-control" id="exampleFormControlSelect2">
                    <option *ngFor="let val of oblastiS" value={{val}}>
                            {{val}}
                    </option>
                  </select>
              </div>
  
              <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Choose</button>
              </div>
        </form>
      </div>
      <div class="col"></div>
    </div>
    
  </body>